* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 200px 200px 100px;
    background-color: rgb(212, 183, 183);
    padding: 20px;
    border-radius: 10px;
    // gap: 20px;
    color: white;

    .item {
        padding: 20px;
        background-color: aqua;
        font-weight: bold;
        margin: 10px;
        border-radius: 10px;
    }

    .item1 {
        grid-column: 1 / 4;
        grid-row: 1;
        background-color: rgb(58, 207, 58);
    }

    .item2 {
        grid-column: 1;
        grid-row: 3 / 5;
        background-color: yellow;
    }

    .item3 {
        grid-column: 1 / 4;
        // grid-row: 4;
        background-color: blue;
    }

    .item4 {
        grid-column: 2 / 4;
        // grid-row: 3;
        background-color: purple;
    }

    .item6 {
        grid-column: 2 / 4;
        background-color: rgb(59, 20, 59);
    }

    .item5 {
        grid-column: 1 / 4;
        grid-row: 2;
        background-color: green;
    }
}


.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 200px 200px;
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    // gap: 20px;
    color: white;
    grid-gap: 20px;

    .item {
        background-color: aquamarine;
        padding: 20px;
    }

    .item1 {
        grid-column: 1 / 4;
        grid-row: 1;
        background-color: rgb(9, 0, 128);
    }

    .item4 {
        grid-column: 1 / 4;
        grid-row: 3;
        background-color: burlywood;
        display: flex;
        justify-content: space-around;
        gap: 30px;
        text-align: center;

        div {
            width: 100%;
            background-color: deeppink;

        }
    }

    .footer {
        display: flex;
        background-color: red;

        div {
            .f {
                width: 200px;
                height: 200px;
                z-index: 54;
            }
        }
    }
}

.grid-container3 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: 100px 100px 200px 200px 100px;
    background-color: rgb(212, 183, 183);
    padding: 20px;
    border-radius: 10px;
    // gap: 20px;
    color: white;

    .item {
        padding: 20px;
        background-color: aqua;
        font-weight: bold;
        margin: 10px;
        border-radius: 10px;
    }

    .item1 {
        grid-column: 1 / 13;
        grid-row: 1;
        background-color: rgb(41, 61, 172);
    }

    .item2 {
        grid-column: 1 / 9;
        grid-row: 2 / 4;
        background-color: green;
    }

    .item3 {
        grid-column: 6 / 13;
        // grid-row: 4;
        background-color: rgb(255, 174, 0);
    }

    .item4 {
        grid-column: 9 / 13;
        grid-row:2 / 4;
        background-color: purple;
    }

    .item5 {
        grid-column: 1 / 13;
        grid-row: 5;
        background-color: rgb(41, 61, 172);
    }

    .item6 {
        grid-column: 1 / 6;
        background-color: rgb(255, 174, 0);
    }
}

.grid-container4 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 100px 100px 200px 200px 200px 200px 200px;
    background-color: rgb(15, 213, 240);
    padding: 20px;
    border-radius: 10px;
    // gap: 20px;
    color: white;

    .item {
        padding: 20px;
        background-color: aqua;
        font-weight: bold;
        margin: 10px;
        border-radius: 10px;
    }

    .item1 {
        grid-column: 1 / 9;
        grid-row: 1;
        background-color: rgb(41, 61, 172);
    }

    .item2 {
        grid-column: 1 / 4;
        grid-row: 2 / 4;
        background-color: green;
    }

    .item3 {
        grid-column: 4 / 9;
        grid-row: 2 / 5;
        background-color: rgb(255, 174, 0);
    }

    .item4 {
        grid-column: 1 / 4;
        grid-row:4 / 6;
        background-color: purple;
    }

    .item5 {
        grid-column: 4 / 9;
        // grid-row: 5;
        background-color: rgb(41, 61, 172);
    }

    .item6 {
        grid-column: 1 / 7;
        background-color: rgb(255, 174, 0);
    }
    
    .item7 {
        grid-column: 7 / 9;
        background-color: rgb(41, 61, 172);
    }
    
    .item8 {
        grid-column: 1 / 9;
        
    }
}